<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
  <div>
    <div th:text="${book.getInfoBook()}"></div><br>

    <form th:method="PATCH" th:if="${!take}" th:action="@{/books/{id}/take(id=${person.getId()})}">
      <label for="person">This book is free. To whom should it be assigned?<br>Choose person</label>
      <select th:object="${person}" th:field="*{id}"  id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
      </select>
      <input type="submit" value="Assign book">
    </form>

    <form th:method="PATCH" th:if="${take}" th:action="@{/books/{id}/untake(id=${book.getId()})}" th:object="${personBookTake}">
      <label th:text="'The book is now with: ' + ${personBookTake.getFullName()}"></label><br>
      <input type="submit" value="Assign book">
    </form>

    <hr>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
      <input type="submit" value="Edit">
    </form>
    <br>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
      <input type="submit" value="Delete">
    </form>
  </div>
</body>
</html>